fieldset
{
	border: 1px solid silver;
	border-radius: 5px;
	padding: 12px;
}
	
#editOrder fieldset
{
	width: 462px;
	float: left;
}

	#editOrder #automobileDetails
	{
		float: left;
	}
	
		#editOrder #automobileDetails label
		{
			font-size: 10px;
			margin-bottom: 12px;
		}
		
			#editOrder #automobileDetails label:last-child
			{
				margin-bottom: 0;
			}
		
		#editOrder #automobileDetails input
		{
			font-size: 12px;
			padding: 4px 8px;
			height: auto;
			box-shadow: none;
		}
		
	#editOrder #orderDetails
	{
		float: right;
	}
	
#editAutomobile fieldset,
#addOrder fieldset
{
	width: 50%;
	margin: 0 auto;
}

legend
{
	padding: 0 12px;
	margin-left: 12px;
	font-weight: bold;
	font-size: 12px;
	color: #666;
}

form
{
	width: 100%;
	margin: 0 auto;
}

	form label
	{
		display: block;
		font-weight: bold;
		color: #999;
		width: 100%;
		margin-bottom: 12px;
		line-height: 1.5em;
	}
	
		form label:last-child
		{
			margin-bottom: 0;
		}

		form input,
		form textarea,
		form select,
		form .button
		{
			height: 40px;
			width: 100%;
			display: block;
			border: 1px solid silver;
			border-radius: 3px;
			padding: 4px 12px 0 12px;
			margin: 0;
			font-family: Courier;
			font-size: 16px;
			box-shadow: inset 1px 2px 2px gray;
		}
					
			form select
			{
				padding: 6px 8px 0 8px;
			}
			
				form select option
				{
					margin: 0;
					padding: 0 12px;
				}
		
		form textarea
		{
			height: 200px;
			padding-top: 8px;
			line-height: 1em;
			resize: none;
		}
		
		form .button
		{
			display: inline-block;
			font-family: Verdana;
			width: 80px;
			border: none;
			border-radius: 5px;
			color: white;
			padding: 4px 0;
			box-shadow: none;
		}
		
		form .submit.loading
		{
			border: 1px solid silver;
			background: url('../images/loader.gif') no-repeat center center;
		}
		
		form label.error input,
		form label.error textarea,
		form label.error select
		{
			color: #e61a00;
			background: #fdc8c1;
		}
		
	form .messages
	{
		font-style: italic;
		color: #e61a00;
		margin: 24px 0 0 0;
		display: none;
	}
	
form.hidden
{
	margin: 0;
	padding: 0;
	display: none;
}


#frmFilters .button
{
	height: 24px;
	min-width: 100px;
	font-size: 12px;
	padding: 4px 0;
	margin: 4px 0;
}

	#frmFilters tbody .button
	{
		min-width: 50px;
		width: 50px;
		margin: 8px 4px;
	}

	
	#app.automobiles #frmFilters tbody .button
	{
		margin: 0;
	}